<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>клиенты</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<style>
    * {
        margin: 10px;
        padding: 5px;
    }
    body{
        background-color: black;
    }
    a {
        margin-left: 25px;
        display: inline;
      
    }
    h1 {
       color: white;
       text-align: center;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       display: inline-flex;
       margin-left: 520px;
       margin-top: 200px;
   
    }
</style>
<body>
    <!-- <h1 style="text-align: center;margin-top: 200px; color: white;">у меня пока что нету клиентов(</h1> -->
     
   <h4 class=" text-warning " href="#">W.</h4>
   <h1>у меня пока что нету клиентов</h1>
</body>
</html>